.login-form {
    color: white;
    text-align: center;
}


.form-control {
    background-color: #1a1a1a;
    width: 50%;
    display: inline-block;
    color: white;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(46, 189, 89, 0.3);
    transition: all 0.3s ease;
    margin-left: 15px;
}

.login-form input:focus {
    background-color: #1a1a1a;
    color: white;
    border-color: #1ED760;
    box-shadow: 0 0 5px rgba(46, 189, 89, 0.5);
}

#emailHelp {
    color: #6b6868;
}

.signup-link a {
    color: #1ED760;
}

.signup-link a:hover {
    opacity: 0.7;
}

li {
    text-decoration: none;
}