.row {
    color: white;
}

.row input {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(46, 189, 89, 0.3);
    transition: all 0.3s ease;
}

.row input:focus {
    background-color: #1a1a1a;
    color: white;
    border-color: #1ED760;
    box-shadow: 0 0 5px rgba(46, 189, 89, 0.5);
}

