 <!--Footer-->
<footer class="main-footer">
    <strong>Telif Hakkı &copy; 2024 <a class="text-success" target="_blank" href="https://www.linkedin.com/in/mert-aydo%C4%9Fdu-b3a197250/">Mert Aydoğdu</a>.</strong>
    Tüm hakları saklıdır.
    <div class="float-right d-none d-sm-inline-block">
        <b>Versiyon</b> 1.0.0
    </div>
</footer>