<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Biletify | Dashboard</title>

    @await RenderSectionAsync("Styles", false)

    @await Html.PartialAsync("_StylesPartial")

</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">

    @await Html.PartialAsync("_PreloaderPartial")

    @await Html.PartialAsync("_NavbarPartial")
    
    @await Html.PartialAsync("_MainSideBarContainerPartial")

    @RenderBody()
    @await Html.PartialAsync("_FooterPartial")
    
    
  </div>
  <!-- ./wrapper -->

  @await Html.PartialAsync("_ScriptsPartial")
  @await RenderSectionAsync("Scripts", false)
</body>

</html>