  <!-- Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake ml-1" src="~/admin/dist/img/tify-logo.png" alt="adminTicketLogo" height="60" width="60">
</div>