<link rel="stylesheet" href="~/website/css/footer.css">


<footer class="footer mt-5">
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <h2><i  class="fa-brands fa-spotify"></i></h2>
            </div>
            <nav class="footer-nav">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li><a asp-controller="Home" asp-action="AboutUs">Hakkımızda</a></li>
                    <li><a asp-controller="Ticket" asp-action="Index">Biletler</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">İletişim</a></li>
                    <li><a asp-controller="User" asp-action="SignUp">Kayıt Ol</a></li>
                </ul>
            </nav>
        </div>
        <p class="footer-info">© 2024 Mert Aydoğdu. Tüm hakları saklıdır.</p>
    </div>
</footer>
