<link rel="stylesheet" href="~/website/css/aboutus.css">

<div class="main-page">
    <h3 class="display-6 mt-3 toggle">Hakkımızda</h3>
    <div class="content">
        <p>Biletify, tutkulu bir ekip tarafından kurulan, etkinliklere erişimi kolaylaştıran ve kullanıcı deneyimini en üst düzeye çıkaran bir bilet satış platformudur. Amacımız, kullanıcılarımıza en popüler konserlerden spor etkinliklerine, tiyatro oyunlarından festivallere kadar geniş bir etkinlik yelpazesi sunarak unutulmaz anlar yaşatmaktır.</p>
    </div>
    <hr />
    <h3 class="display-6 toggle">Misyonumuz</h3>
    <div class="content">
        <p>Müşteri memnuniyetini her zaman ön planda tutarak, kaliteli ve güvenilir bir hizmet sunmak.</p>
    </div>
    <hr />
    <h3 class="display-6 toggle">Vizyonumuz</h3>
    <div class="content">
        <p>Etkinlik biletlerine erişimi kolaylaştırarak, insanların yaşam deneyimlerini zenginleştirmek ve etkinlik kültürünü yaygınlaştırmak.</p>
    </div>
    <hr />
    <h3 class="display-6 toggle">Değerlerimiz</h3>
    <div class="content">
        <ul>
            <li>Müşteri Memnuniyeti: Kullanıcılarımızın mutluluğu ve memnuniyeti bizim için en öncelikli konudur.</li>
            <li>Güvenilirlik: Her zaman dürüst ve şeffaf bir şekilde iş yapmayı ilke ediniriz.</li>
            <li>Yenilikçilik: Sürekli olarak yeniliklere açık olup, kullanıcı deneyimini geliştirmek için yeni çözümler ararız.</li>
            <li>Toplumsal Sorumluluk: Topluma ve çevreye karşı duyarlı bir şekilde hareket etmek, bizim için önemlidir.</li>
        </ul>
    </div>
    <hr />
    <p>Biletify olarak, etkinliklere kolay erişim sağlayarak, kullanıcılarımızın unutulmaz deneyimler yaşamasına katkıda bulunmaktan gurur duyuyoruz.</p>
</div>


<script src="~/website/js/aboutus.js"></script>