<link rel="stylesheet" href="~/website/css/contact.css">

<div class="row">
    <div class="map col-md-6 mt-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12029.663418196382!2d29.005697297034942!3d41.08175971575643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab66eb1aaff27%3A0x306025824b2de11e!2zTGV2ZW50LCAzNDMzMCBCZcWfaWt0YcWfL8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1708817073113!5m2!1str!2str"
                width="500" height="450" style="border: 3px;;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contact-me col-md-6 mt-4">
        <div class="mb-3">
            <label for="FormControlInput1" class="form-label">Adınız ve Soyadınız:</label>
            <input type="text" class="form-control" id="FormControlInput1">
        </div>
        <div class="mb-3">
            <label for="FormControlInput1" class="form-label">Email Adresi</label>
            <input type="email" class="form-control" id="FormControlInput2">
        </div>
        <div class="mb-3">
            <label for="FormControlInput1" class="form-label">Bilet Numaranız:</label>
            <input type="number" class="form-control" id="FormControlInput3">
        </div>
        <div class="mb-3">
            <label for="FormControlTextarea1" class="form-label">Mesajınız:</label>
            <textarea class="form-control" id="FormControlTextarea1" rows="4"></textarea>
        </div>
        <a href="#" class="log-in btn-lg float-end">Gönder</a>
    </div>
</div>


